<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766901453472-dnfgbrat41hmjn9aka7brenkvvgposqc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766901453472-dnfgbrat41hmjn9aka7brenkvvgposqc</string>
	<key>API_KEY</key>
	<string>AIzaSyDLMj1XRRc0WXaVEkBXqfY4X36qmPCds-A</string>
	<key>GCM_SENDER_ID</key>
	<string>766901453472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jihyeole.mySentence</string>
	<key>PROJECT_ID</key>
	<string>mysentence-724bc</string>
	<key>STORAGE_BUCKET</key>
	<string>mysentence-724bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766901453472:ios:2af20e17eb8d93c3d87fc5</string>
	<key>DATABASE_URL</key>
	<string>https://mysentence-724bc-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>